@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
html {
  scroll-behavior: smooth;
}

p {
  font-size: 24px;
  line-height: 43.2px;
}

.titulo-principal {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

.titulo-centrado {
  text-align: center;
  padding-bottom: 60px;
}

.texto-blanco {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-weight-700 {
  font-weight: 700;
}

.titulo-banner {
  font-family: 'Oswald', sans-serif;
  font-size: 68px;
  font-weight: 700;
}

.subtitulo-banner {
  font-size: 48px;
  font-weight: 300;
}

.contenedor-banner {
  background: url('../img/background-banner.jpg') no-repeat center;
  background-size: cover;
  height: 740px;
}

.banner {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  padding-top: 158px;
  h3 {
    font-size: 48px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
  }
  h2 {
    font-size: 68px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.boton-outlined {
  background: 'transparent';
  border: 2px solid #fff;
  padding: 14px 50px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.6s;
  &:hover {
    background: #fff;
    color: #000;
  }
}

.boton-solido {
  background: #fff;
  color: #000;
  padding: 14px 50px;
  border: 1px solid transparent;
  margin-top: 24px;
  cursor: pointer;
  transition: all 0.6s;
  &:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
  }
}

.contenedor {
  max-width: 1320px;
  margin: 0 auto;
}

.header-principal {
  background: #000;
  height: 70px;
  flex-wrap: wrap;
  align-content: center;
  position: sticky;
  top: 0;
  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu {
  color: #fff;
  ul {
    display: flex;
    gap: 48px;
    flex-wrap: wrap;
    li {
      list-style: none;
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

.logo-nova a {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  display: flex;
  max-width: 62px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  span {
    font-weight: 300;
  }
}

.contenedor-sobre-nosotros {
  background: url('../img/background-nosotros.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre-nosotros-uno {
  text-align: center;
  max-width: 777px;
  margin: auto;
  padding-top: 107px;
  padding-bottom: 170px;
}

.sobre-nosotros-dos {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 109px;
  flex-wrap: wrap;
  gap: 90px;
  div {
    display: flex;
    flex-direction: column;
    gap: 60px;
  }
  p {
    max-width: 647px;
  }
}

.grid-galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(630px, 1fr));

  div {
    background: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 79px;
    h2,
    h3 {
      font-size: 80px;
    }
    h3 {
      font-weight: 300;
    }
  }
  img {
    object-fit: cover;
    width: 101%;
    height: 101%;
  }
}

.contenedor-galeria {
  overflow: hidden;
}

.contenedor-menu {
  padding: 81px 0;
}

.contenedor-items-menu {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item-menu {
  display: flex;
  align-items: center;

  p {
    max-width: 869px;
  }
  img {
    align-self: flex-start;
    margin-right: 52px;
  }
  h3 {
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
  }
}

.item-menu-contenido {
  width: 100%;
  border-top: 1px dashed #cfcdcd;
  padding-top: 24px;
}

.item-menu-descripcion {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.precio {
  font-size: 32px;
  font-weight: 700;
  margin-left: auto;
}

.contenedor-contactanos {
  background: url('../img/background-contactanos.jpg') no-repeat center;
  height: 655px;
  padding-top: 64px;
  form {
    max-width: 762px;
    margin: auto;
  }
}

.input-form,
textarea {
  border: 2px solid #fff;
  padding: 12px 18px;
  background: transparent;
  outline: none;
  flex: 1;
  color: #fff;
  width: 100%;
  resize: none;
  &::placeholder {
    color: #fff;
  }
}

.input-grupo {
  display: flex;
  width: 100%;
  gap: 24px;
  margin-bottom: 24px;
}

footer {
  min-height: 337px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #000;
  p {
    color: #fff;
    text-align: center;
    font-size: 14px;
    border-top: 1px solid #474747;
    padding: 39px;
  }
}

.contenedor-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 94px;
}

.width-full {
  width: 100%;
}

.contenedor-redes {
  display: flex;
  align-items: center;
  gap: 16px;
}
